<article class="post">
  <div class="title">
    {{!-- <a href="{{comment}}" target="_blank">{{title}}</a> --}}
    <div>{{title}}</div>
    <div>  </div>
    <div>{{comment}}</div>
  </div>
  <div class="meta">
  by {{user.username}} on {{format_date created_at}}
  {{!-- |
  <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}
  </div>
</article>