<article>
  <div class="title wide">
    {{!-- <a href="{{comment}}" target="_blank">{{title}}</a> --}}
    <div>{{title}}</div>
    <div class="user">  by {{user.username}} on {{format_date created_at}}</div>
  </div>
  <div class="post wide">
    <div>{{comment}}</div>
  </div>
{{!-- <a href="/" id="delete-post">Delete Post</a> --}}
{{!-- <button type="submit" id="delete-post" class="{{post.id}}">Delete Post</button> --}}
</article>
{{!-- <script src="/javascript/post.js"></script> --}}
<script src="/javascript/delete-post.js"></script>